{% extends 'main/base.html' %}
{% block content %}
    <style>
        .form-row {
            margin-bottom: 10px;  /* Измените значение здесь для увеличения интервала */
        }
    </style>
    <div class="col-12">
        <form class='row' method="POST" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Добавление продукта
                        </h3>
                    </div>
                        <div class="card-body">
                            {% csrf_token %}
                        <div class="form-row">
                            Название {{ form.name}}<br>
                        </div>
                        <div class="form-row">
                            Описание {{ form.description}}</div>
                        <div class="form-row">
                            Изображение {{ form.image}} <br></div>
                        <div class="form-row">
                            Категория {{ form.category}}<br></div>
                        <div class="form-row">
                            Цена {{ form.price}}<br></div>
                        <div class="form-row">
                            {% if request.user.is_staff %}
                            Активный {{ form.is_active }}<br>
                            {% endif %}
                        </div>
                            <input type="submit" class="btn btn-success" value="Создать">
                            <a href="{%url 'main:products' %}" class="btn btn-primary">Назад</a>
                        </div>
                </div>
            </div>
        {% if not request.user.is_staff or request.user.is_superuser %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Версия продукта
                            </h3>
                        </div>
                            <div class="card-body">
                                {{ formset.management_form }}
                                {% for form in formset.forms %}
                                    {{ form.as_p }}
                                {% endfor %}
                            </div>
                    </div>
                </div>
        {% endif %}
        </form>
    </div>

{% endblock %}
